@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	font-family: "Arvo", serif;
	;
	;
	font-weight: normal;
	font-size: 17px;
	line-height: 19px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.contenedor {
    position: relative;
}

header {
    height: 65px;
    background-color: #A51C18;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
.logo {
    width: 111px;
    height: 65px;
    background-image: url(../imgs/ESTACION%2033%20LOGO%20ROJO%202_Mesa%20de%20trabajo%201.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
.site-nav ul {
    display: flex;
    gap: 35px;
}

.site-nav li a {
    color: #FCC319;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 0;
    transition: color 0.3s ease;
    text-decoration: none;
}

.site-nav li a:hover {
    color: #F7EDD8;
}
.announcement-bar {
    background: #fcc319;
    color: #222;
    height: 70px;
    display: flex;
    align-items: center;
    overflow: hidden;
    font-family: 'Figtree', Arial, sans-serif;
    font-weight: 900;
    font-size: 1.8rem;
    border: none;
    padding: 0;
}

.marquee {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.marquee__inner {
  display: flex;
  align-items: center;
  width: max-content;
  animation: marquee 12s linear infinite;
  will-change: transform;
}

.marquee__inner {
  display: flex;
  align-items: center;
  gap: 1ch;
  white-space: nowrap;
}

.marquee-text {
  color: #222;
  font-weight: 900;
  letter-spacing: 0.5px;
  display: inline-block;
  font-stretch: expanded;
  transform: scaleY(1.2);
  margin: 0;
  padding: 0;
}

.icon {
  height: 1.2em;
  width: 1.2em;
  object-fit: contain;
  vertical-align: middle;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.announcement-content span {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 40px;
    white-space: nowrap;
}
.icon {
    height: 40px;
    width: 40px;
    object-fit: contain;
    vertical-align: middle;
}
.marquee-text {
    color: #222;
    font-weight: 900;
    letter-spacing: 0.5px;
}
.marquee-text .highlight {
    color: #a51c18;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-25%); }
}
.slider {
    background-image: url(../imgs/1033%20X%20520%20PRINCIPAL.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-start; 
    height: 100vh; 
}
.balazo {
    width: 50%;
    padding-top: 22%;
    padding-left: 5%;
}
.headline {
    font-family: "Arvo", serif;
    font-weight: bold;
    font-size: 7rem;
    color: #FCC319;
    text-align: left;
    margin-bottom: 16px;
    letter-spacing: 2px;
    line-height: 1;
}

.subheadline {
    font-family: "Arvo", serif;
    font-weight: bold;
    font-size: 2.2rem;
    color: #fff;
    text-align: left;
    margin-bottom: 32px;
    letter-spacing: 1px;
    line-height: 1.1;
}

.balazo p {
    margin-top: 3%;
    margin-bottom: 4px;
    color: #F8EED9;
    border-radius: 20px;
    padding: 12px;
    text-align: left;
    font-size: large;
    font-weight: bold;
    margin-left: -16px;
}
.botones-container {
    display: flex;
    gap: 40px;
    margin-top: 120px;
    margin-left: 100px;
    justify-content: flex-start;
}

.boton, .btn-menu {
    width: 159px;
    height: 35px;
    background-color: rgba(252,195,25,1.00);
    padding: 7px;
    border-radius: 14px;
    font-size: 16px;
    text-align: center;
    color: #A51C18;
    text-transform: uppercase;
    font-family: "Arvo", serif;
    font-weight: bold;
    margin: 0;
}

.boton a, .btn-menu a {
    text-decoration: none;
    color: #A51C18;
    font-size: 15px;
    font-weight: bold;
    display: block;
}
.gifpromos {
    background-image: url(../imgs/E33%20GIF%20PRUEBA%20PROMOCIONES.gif);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    position: static;
    width: 1360px;
    height: 142px;
    margin-left: -7px;
    margin-top: 207px;
}
.partetres {
    width: 100%;
    height: 100vh;
    background-image: url(../imgs/E33-HEADER-INTRO-PRODUCCIONES.png);
    background-position: center center;
    background-size: cover;
    font-weight: bold;
    padding-top: 9px;
    margin-top: -1px;
    background-repeat: no-repeat;
    position: static;
}
.partetres .balazo {
    padding-top: 16%;
    width: 46%;
}
.btn-promos {
    width: 231px;
    height: 54px;
    background-color: rgba(0,76,40,1.00);
    padding-top: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    border-radius: 15px;
    font-size: 16px;
    text-align: center;
    font-variant: normal;
    color: #A51C18;
    text-transform: uppercase;
    font-family: "Arvo", serif;
    font-style: normal;
    font-weight: bold;
    position: absolute;
    bottom: 152%;
    left: 27%;
}
.btn-promos a {
    text-decoration: none;
    color: #FCC319;
    font-size: 15px;
    font-weight: bold;
    opacity: 1;
    width: auto;
}
.partedos {
    width: 100%;
    height: 100vh;
    background-image: url(../imgs/ESTACION%2033%2024.png);
    background-position: center center;
    background-size: cover;
    font-weight: bold;
    padding-top: 9px;
    margin-top: -1px;
}

.partedos .balazo {
    padding-top: 16%;
    width: 46%;
}
.partedos h1 {
    margin-top: 1px;
}
.btn-ant a {
    width: 141px;
    height: 35px;
    background-color: rgba(252,195,25,1.00);
    padding-top: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    border-radius: 14px;
    font-size: 16px;
    text-align: center;
    font-variant: normal;
    color: #A51C18;
    text-transform: uppercase;
    margin-top: 13px;
    font-family: "Arvo", serif;
    font-style: normal;
    font-weight: bold;
    float: left;
    text-decoration: none;
}
.btn-sig a {
    width: 141px;
    height: 35px;
    background-color: rgba(252,195,25,1.00);
    padding-top: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    border-radius: 14px;
    font-size: 16px;
    text-align: center;
    font-variant: normal;
    color: #A51C18;
    text-transform: uppercase;
    margin-top: 13px;
    font-family: "Arvo", serif;
    font-style: normal;
    font-weight: bold;
    float: left;
    margin-left: 15px;
    text-decoration: none;
}

footer {
    padding-top: 32px;
    padding-right: 32px;
    padding-left: 32px;
    padding-bottom: 32px;
    background-color: rgba(248,238,217,1.00);
    height: 203px;

}
footer h1 {
    color: rgba(220,12,21,1.00);
    font-size: 25px;
    margin-top: -16px;
    font-family: Figtree;
    font-weight: bold;
}
footer ul {
    margin-top: 10px;
}
footer li {
}
.col-01 {
    width: 30%;
    float: left;
}
.col-02 {
    width: 25%;
    float: left;
    margin-left: 90px;
}
.redes {
    width: 46px;
    height: 46px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}
